button{
    width: 15px;
    height: 35px;
    background: none repeat scroll 0;
    border: none;
    background-image: url(../../assets/homePage/corusel-btn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.carousel-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.nextBtn{
    transform: rotate(180deg);
}
.card-group {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-top: 30px;
}

.cards-wrap {
    display: flex;
    gap: 20px;
}
.ngb-carousel {
    width: 100%;
}
.carousel-container{
    width: 100%;
    justify-content: center;
}
.carousel{
    width: 90%;
}
.cards-wrap{
    justify-content: space-between;
}

:host ::ng-deep .carousel-control-prev{
    left: -10%;
    filter: invert(1);
}
:host ::ng-deep .carousel-control-next{
    right: -10%;
    filter: invert(1);
}