<div class="carousel-container">
  <div class="carousel-wrap">
    <button (click)="slickModal.slickPrev()" class="prevBtn"></button>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let card of cards" class="slide">
        <app-card class="card-item" [title]="card.title" [img]="card.img" [link]="card.link"></app-card>
      </div>
    </ngx-slick-carousel>
    <button (click)="slickModal.slickNext()" class="nextBtn"></button>
  </div>
</div>