.carousel {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .slide {
    text-align: center;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }
  .prevBtn,.nextBtn {
    background-color: #ffffff00;
    display: block;
    width: 15px;
    height: 35px;
    cursor: pointer;
    border: none;
  }
  .prevBtn{
    background-image: url(../../assets/homePage/corusel-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .nextBtn{
    background-image: url(../../assets/homePage/corusel-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleX(-1);
  }
  .carousel-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (max-width : 460px) {
    .carousel-wrap{
      gap: 20px;
      justify-content: center;
    }
  }