<div class="card p-3">
  <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-4 h-auto d-flex justify-content-between flex-column">
          @if (!lessonCreating) {
            <button type="button" class="btn btn-primary w-100 mb-2" (click)="lessoncreateChanged()">Добавить занятие</button>
          }
          @else{
            <button type="button" class="btn btn-primary w-100 mb-2" (click)="lessoncreateChanged()">Изменить занятие</button>
          }
        <div class="container p-0 my-2">
            <div class="row">
                <div class="col">
                   <select class="form-select" aria-label="Single select example" [disabled]="lessonCreating" [(ngModel)]="selectedDate" (ngModelChange)="onMainSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                       @for (item of dates; track $index) {
                       <option [ngValue]="item">{{item.month + " "+ item.date+" "+item.dayOfWeek}}</option>
                       }
                    </select>
                </div>
                <div class="col">
                   <select class="form-select" aria-label="Single select example" [disabled]="lessonCreating" [(ngModel)]="selectedGroup" (ngModelChange)="onMainSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                       @for (item of groupsForSelect; track $index) {
                       <option [ngValue]="item">{{item.name}}</option>
                       }
                    </select>
                </div>
            </div>
        </div>
        <select class="form-select h-100" size="5" [disabled]="lessonCreating" [(ngModel)]="selectedLesson" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
          @for (item of lessons; track $index) {
          <option [ngValue]="item">{{item.pareNumber+' '+item.pareName+' '+item.groupName}}</option>
          }
      </select>
        
      </div>
          <div class="col-12 col-md-8">
            @if(lessonCreating){
              <form>
                <div class="mb-3">
                  <label for="PareInput" class="form-label">Номер пары</label>
                  <input type="number" max="6" min="1" maxlength="1" class="form-control" [(ngModel)]="pareCreate" id="PareInput"  aria-describedby="usernameHelp"  [ngModelOptions]="{standalone: true}">
                  <label for="PareInput" class="form-label">Дисциплина</label>
                  <select class="form-select" [(ngModel)]="selectedSubjectCreate" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                      @for (item of subjects; track $index) {
                      <option [ngValue]="item">{{item.name}}</option>
                      }
                  </select>
                  <label for="PareInput" class="form-label">Преподаватель</label>
                  <select class="form-select" [(ngModel)]="selectedTeacherCreate" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                      @for (item of teachers; track $index) {
                      <option [ngValue]="item">{{item.name+ " "+item.sname}}</option>
                      }
                  </select>
                  <label for="PareInput" class="form-label">Кабинет</label>
                  <input type="text" class="form-control" [(ngModel)]="classRoomCreate" id="PareInput" aria-describedby="usernameHelp"  [ngModelOptions]="{standalone: true}">
                  <label for="PareInput" class="form-label">Группа</label>
                  <select class="form-select" [(ngModel)]="selectedGroupCreate" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                      @for (item of groups; track $index) {
                      <option [ngValue]="item">{{item.name}}</option>
                      }
                  </select>
                  <label for="PareInput" class="form-label">Дата</label>
                  <select class="form-select" [(ngModel)]="selectedDateCreate" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                      @for (item of dates; track $index) {
                      <option [ngValue]="item">{{item.month+" "+item.date+" "+item.dayOfWeek }}</option>
                      }
                  </select>
                </div>
                <button type="submit" class="btn btn-primary" (click)="createLesson()">Создать</button>
              </form>
              @if (creatingError.length > 0){
                <div class="alert alert-danger mt-3" role="alert">
                  {{creatingError}}
                </div>
              }
            }
            @else{
              <form>
                  <div class="mb-3">
                    <label for="PareInput" class="form-label">Номер пары</label>
                    <input type="number" max="6" min="1" maxlength="1" class="form-control" [disabled]="selectedLesson==undefined" id="PareInput" aria-describedby="usernameHelp">
                    <label for="PareInput" class="form-label">Дисциплина</label>
                    <select class="form-select" [disabled]="selectedLesson==undefined" [(ngModel)]="selectedLesson" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                        @for (item of subjects; track $index) {
                        <option [ngValue]="item">{{item.name}}</option>
                        }
                    </select>
                    <label for="PareInput" class="form-label">Преподаватель</label>
                    <select class="form-select" [disabled]="selectedLesson==undefined" [(ngModel)]="selectedTeacher" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                        @for (item of teachers; track $index) {
                        <option [ngValue]="item">{{item.name+" "+item.sname}}</option>
                        }
                    </select>
                    <label for="PareInput" class="form-label">Кабинет</label>
                    <input type="text" [disabled]="selectedLesson==undefined" class="form-control" id="PareInput" aria-describedby="usernameHelp">
                    <label for="PareInput" class="form-label">Группа</label>
                    <select class="form-select" [disabled]="selectedLesson==undefined" [(ngModel)]="selectedLesson" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                        @for (item of lessons; track $index) {
                        <option [ngValue]="item">{{item.pareNumber+' '+item.pareName+' '+item.groupName}}</option>
                        }
                    </select>
                    <label for="PareInput" class="form-label">Дата</label>
                    <select class="form-select" [disabled]="selectedLesson==undefined" [(ngModel)]="selectedLesson" (ngModelChange)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                        @for (item of lessons; track $index) {
                        <option [ngValue]="item">{{item.pareNumber+' '+item.pareName+' '+item.groupName}}</option>
                        }
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="selectedLesson==undefined" (click)="createLesson()" >Изменить</button>
                  <button type="submit" class="btn btn-danger mx-3" [disabled]="selectedLesson==undefined" (click)="createLesson()" >Удалить</button>
                </form >
                @if (changingError) {
                  <div class="alert alert-danger mt-3" role="alert">
                    {{changingError}}
                  </div>
                }
            }
          </div>
      </div>
  </div>
</div>
