<div class="container mt-5">
    <div class="row">
        <div class="col-10 col-lg-5 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <div class="user-avatar mx-auto my-3">
                        <img class="w-100 rounded-circle " src="{{profileImageHref}}" alt="">
                    </div>
                    <h2 class="card-title fs-2">{{user?.name}}</h2>
                    <h2 class="card-title fs-2">{{user?.surname}}</h2>
                  <!-- <<h2 class="card-title fs-5 ">{{user.birthday}}</h2> -->
                  <h2 class="card-title fs-5 mb-5">{{role}}</h2>
                  <!-- <h2 class="card-title fs-5 ">{{user.}}</h2> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-lg-5 mx-auto">
            <div class="card mt-3">
                <!-- <button type="button" class="btn btn-light border-bottom p-2">Изменить имя пользователя</button>
                <button type="button" class="btn btn-light border-bottom p-2">Изменить пароль</button> -->
                <button type="button" class="btn btn-light p-2" (click)="logout()">Выйти из учётной записи</button>
            </div>
        </div>
    </div>
</div>