<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row d-flex gap-md-0">
            <div class="col-6 col-md-2">
              <select
                class="form-select"
                [(ngModel)]="selectedGroup"
                (change)="ValueSelected()"
                [ngModelOptions]="{ standalone: true }"
              >
                <option *ngFor="let item of groups" [ngValue]="item">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="col-6 col-md-3">
              <select
                class="form-select"
                [(ngModel)]="selectedSubject"
                (change)="ValueSelected()"
                [ngModelOptions]="{ standalone: true }"
              >
                <option *ngFor="let item of subjects" [ngValue]="item">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="col-12 col-md-3 my-2 my-md-0">
              <div style="position: relative">
                <input
                  type="text"
                  class="form-control"
                  placeholder="гггг-мм-дд"
                  name="dp"
                  [(ngModel)]="selectedDate"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  (ngModelChange)="ValueSelected()"
                  style="padding-right: 36px"
                />
                <button
                  (click)="d.toggle()"
                  class="btn btn-outline-secondary calendar"
                  type="button"
                  style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    border-radius: 0px 5px 5px 0px;
                    border: none;
                  "
                >
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="input-group mb-3">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Поиск..."
                  aria-label="Поиск..."
                  aria-describedby="basic-addon2"
                  [(ngModel)]="searchValue"
                  (keyup.enter)="ValueSelected()"
                />
                <button
                  class="input-group-text bg-primary text-light"
                  id="basic-addon2"
                  (click)="ValueSelected()"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive-md">
    <table
      class="table table-bordered border-secondary align-middle table-hover"
    >
      <thead>
        <tr class="table-primary">
          <th>Студенты</th>
          @for (item of dates; track $index) {
          <th class="text-center">{{ item | date : "dd.MM.yyyy" }}</th>
          }
        </tr>
      </thead>

      <tbody>
        @for (journals of journalItems; track $index) {
        <tr>
          <th scope="row">{{ journals.surname + " " + journals.name }}</th>
          @for (item of journals.dates; track $index) {
          <td class="text-center">{{ item.score ? item.score.value : "-" }}</td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if(range().length>0){
  <div class="d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        @for (item of range(); track $index) {
        <li class="page-item">
          <a class="page-link">{{ item }}</a>
        </li>
        }
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  }
</div>
