<app-main-header></app-main-header>
<div class="banner-wrap" (mousemove)="onMouseMove($event)">
    <div class="banner" [ngStyle]="backgroundPosition"></div>
    <p>Электронный образовательный ресурс</p>
</div>
<div class="container1">
   <div class="nav-wrap">
        <div class="title"> 
            <h2>Ваши курсы</h2>
            <div class="btn"></div>
        </div>
        <div class="input-wrap">
            <input type="text" placeholder="Поиск...">
            <button type="submit"></button>
        </div>
   </div>
   <!-- <app-carousel></app-carousel> -->
   
   
</div>